body
{
		margin: 100;
		padding: 100;
		background-color; coral;
		background-size: cover;
		height: 40vh;
		background-repeat: no-repeat;
		font-family: sans-serif;
		top: 50%;
		left: 50%;
}

.box
{
                width: 280px;
		padding: 30px;
		position: relative;
		top: 120%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(247, 247, 247 );
		border-radius: 10px;
		border: #1FA907 4px solid;
		box-shadow: 0px 6px 45px -11px;
}

.box input[type="text"],.box input[type="password"]
{
		border: 0;
		background: none;
		display: block;
		margin: 50px auto;
		text-align: center;
		border: 2px solid #1FA907;
		padding: 10px 5px;
		width: 200px;
		outline: white;
		border-radius: 0px;
		transition: 0.15s;
		top:50%;
		left:50%;
}

.box input[type="login"]
{

		border: 0;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 2px solid #1FA907;
		padding: 10px 5px;
		width: 200px;
		outline: white;
		border-radius: 5px;
		transition: 0.15s;
		top:50%;
		left:50%;
}